.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  min-height: 80px;
  background-color: #28284b;
}

.menuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.burgerIcon {
  width: 38px;
  color: #fff;
}

.modal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.navWrapper {
  display: flex;
  align-items: center;
}

.cartLink {
  margin-right: 12px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
