.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
  background-color: #28284b;
}

.logo_link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.logo {
  margin: 0;
  font-size: 28px;
}

.navList {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
}

.navList_item {
  margin-right: 25px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}
